button{
    width: 120px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: blue;
}
input{
    background-color: aquamarine;
    outline: none;
    display: block;
    margin-bottom: 10px;
    width: 60%;
}
label{
    font-weight: bold;
    color: blue;
}
button, input{
    padding: 9px;
    border: none;
    border-radius: 10px;
}
#btn_calcular{ background-color: green; }
#btn_validar{ background-color: blueviolet; }
#btn_limpar{ background-color: red; }

.group{
    margin-top: 20px;
}

table{
    margin-top: 20px;
}